<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Love mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h3>
        <h4>{{news.latest_news_title}}</h4>
        <p>{{news.latest_news_description}}</p>
      </div>
    </div>

    <div class="row" id="mars-inf"></div>
      <div class="col-md-8">
        <h3 class="heading">Featured Mars Image</h3>
        <img src="{{news.featured_image_url }}" alt="image" style="width:80%">
      </div>
      <div class="col-md-4">
        <h3 class="heading">Current Weather on Mars</h3>
        <p>{{news.mars_weather}}</p>
      </div>

      <div class="row" id="mars-inf"></div>
      <div class="col-md-8">
        <h3 class="heading">Mars Facts</h3>  <!-- having trouble to put news.mars_facts as a dynamic table below -->
        <table border="1" class="dataframe"> <thead> <tr style="text-align: right;"> <th></th> <th>value</th> </tr> <tr> <th>description</th> <th></th> </tr> </thead> <tbody> <tr> <th>Equatorial Diameter:</th> <td>6,792 km</td> </tr> <tr> <th>Polar Diameter:</th> <td>6,752 km</td> </tr> <tr> <th>Mass:</th> <td>6.42 x 10^23 kg (10.7% Earth)</td> </tr> <tr> <th>Moons:</th> <td>2 (Phobos &amp; Deimos)</td> </tr> <tr> <th>Orbit Distance:</th> <td>227,943,824 km (1.52 AU)</td> </tr> <tr> <th>Orbit Period:</th> <td>687 days (1.9 years)</td> </tr> <tr> <th>Surface Temperature:</th> <td>-153 to 20 °C</td> </tr> <tr> <th>First Record:</th> <td>2nd millennium BC</td> </tr> <tr> <th>Recorded By:</th> <td>Egyptian astronomers</td> </tr> </tbody> </table>
      </div>
      </div>

      <div class="row" id="hem_img"></div>
        <h3 class="heading">Mars Hemisphere</h3>
        <div class="col-md-3">
          <img src="{{news.hemisphere_images[0].img_url}}" alt="image" style="width:80%">
          <p>{{news.hemisphere_images[0].title}}</p>
        </div>
        <div class="col-md-3">
          <img src="{{news.hemisphere_images[1].img_url}}" alt="image" style="width:80%">
          <p>{{news.hemisphere_images[1].title}}</p>
        </div>
        <div class="col-md-3">
          <img src="{{news.hemisphere_images[2].img_url}}" alt="image" style="width:80%">
          <p>{{news.hemisphere_images[2].title}}</p>
        </div>
        <div class="col-md-3">
          <img src="{{news.hemisphere_images[3].img_url}}" alt="image" style="width:80%">
          <p>{{news.hemisphere_images[3].title}}</p>
        </div>
      </div>
    
    </div>
    


  </div>

</body>

</html>

